<div class="col-md-12">
  <h1><%= @post.title %></h1>
  <p>カテゴリ：<%= find_category_title(@post.category_id) %></p>
  <p>投稿日：<%= @post.created_at %></p>
  <hr>
  <p>
    <%= simple_format(@post.body) %>
  </p>
  <hr>
  <a href="/posts/<%= @post.id %>/edit" class="btn btn-default">編集する</a>
  <%= link_to '削除する', post_path, method: :delete %>
</div>

